<div class="manager container-sm d-flex flex-column align-items-cente justify-content-center">
  <ul class="nav nav-tabs mt-2" id="myTab" role="tablist" #navlist>
    <ng-template tabHost></ng-template>
    <!-- <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile"
        type="button"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Profile
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="contact-tab"
        data-bs-toggle="tab"
        data-bs-target="#contact"
        type="button"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
      >
        Contact
      </button>
    </li> -->
  </ul>
  <div class="tab-content container-sm" id="myTabContent" #tabContent>
    <ng-template editorHost></ng-template>
    <!-- <div
    class="tab-pane show active"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    <app-text-editor></app-text-editor>
  </div>
  <div
    class="tab-pane"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <app-text-editor></app-text-editor>
  </div>
  <div
    class="tab-pane"
    id="contact"
    role="tabpanel"
    aria-labelledby="contact-tab"
  >
    <app-text-editor></app-text-editor>
  </div> -->
  </div>
  
  <div class="container-sm mt-2">
    <div class="row">
      <div class="col">
        <button
          (click)="onCompile()"
          type="button"
          class="btn btn-outline-primary me-1"
        >
          Compilar
        </button>
        <button type="button" class="btn btn-outline-primary me-1">
          Descargar
        </button>
      </div>
      <div class="col">
        <button (click)="addBlankEditor()" type="button" class="btn btn-outline-success me-1">
          Nuevo
        </button>
        <button type="button" class="btn btn-outline-success me-1">
          Cargar
        </button>
      </div>
      <div class="col">
        <button type="button" (click)="closeActualEditor()" class="btn btn-outline-danger me-1">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
