<div
  class="manager container-sm d-flex flex-column justify-content-center"
>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <ng-template tabHost></ng-template>
  </ul>
  <div class="tab-content" id="myTabContent">
    <ng-template editorHost></ng-template>
  </div>

  <div class="container-sm mt-2">
    <div class="row">
      <div class="col">
        <button
          (click)="onCompile()"
          type="button"
          class="btn btn-outline-primary me-1"
        >
          Compilar
        </button>
        <button
          type="button"
          class="btn btn-outline-primary me-1"
          (click)="download()"
        >
          Descargar
        </button>
      </div>
      <div class="col">
        <button
          (click)="getName()"
          type="button"
          class="btn btn-outline-success me-1"
        >
          Nuevo
        </button>
        <button
          (click)="readFile()"
          type="button"
          class="btn btn-outline-success me-1"
        >
          Leer
        </button>
        <div class="mb-3 mt-2">          
          <input
            (change)="uploadFile($event)"
            class="form-control form-control-sm"
            type="file"
            id="formFile"
            accept=".crl"
          />
        </div>
      </div>
      <div class="col">
        <button
          type="button"
          (click)="closeActualEditor()"
          class="btn btn-outline-danger me-1"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="container-sm d-flex flex-column justify-content-center"
>
  <div class="row">
    <div class="col">
      <h2>Consola</h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <ngx-codemirror
        [options]="codeMirrorOptions"
        [(ngModel)]="contentLogger"
        #logger        
      >
      </ngx-codemirror>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="clearLogger()"
      >
        Limpiar
      </button>
    </div>
  </div>
</div>

<div
  class="mt-2 container-sm d-flex flex-column align-items-center justify-content-center border border-primary rounded"
>
  <h1 class="mb-3">Resultados</h1>
  <button type="button" class="btn btn-warning m-2" (click)="clearResults()">
    Limpiar
  </button>
  <ng-template resultHost></ng-template>
</div>
