<div
  class="manager container-sm d-flex flex-column align-items-cente justify-content-center"
>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <ng-template tabHost></ng-template>
  </ul>
  <div class="tab-content" id="myTabContent">
    <ng-template editorHost></ng-template>
    <!-- <div
    class="tab-pane show active"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    <app-text-editor></app-text-editor>
  </div>
  <div
    class="tab-pane"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <app-text-editor></app-text-editor>
  </div>
  <div
    class="tab-pane"
    id="contact"
    role="tabpanel"
    aria-labelledby="contact-tab"
  >
    <app-text-editor></app-text-editor>
  </div> -->
  </div>

  <div class="container-sm mt-2">
    <div class="row">
      <div class="col">
        <button
          (click)="onCompile()"
          type="button"
          class="btn btn-outline-primary me-1"
        >
          Compilar
        </button>
        <button type="button" class="btn btn-outline-primary me-1">
          Descargar
        </button>
      </div>
      <div class="col">
        <button
          (click)="addBlankEditor()"
          type="button"
          class="btn btn-outline-success me-1"
        >
          Nuevo
        </button>
        <button type="button" class="btn btn-outline-success me-1">
          Cargar
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          (click)="closeActualEditor()"
          class="btn btn-outline-danger me-1"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">          
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
          
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>