<div
  class="container-sm tab-pane show active"
  [attr.id]="id"
  role="tabpanel"
  aria-labelledby="code-tab"
>
  <div class="row mb-2">
    <div class="col">
      <div class="ngx-codemirror">
        <ngx-codemirror [options]="codeMirrorOptions" [(ngModel)]="content" #cm>
        </ngx-codemirror>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="grid">      
        <span class="lead">ln: {{ line }} col: {{ column }}</span>
      </div>
    </div>
  </div>
</div>
