<div class="container-sm">
  <div class="row mb-2">
    <div class="col">
      <div class="ngx-codemirror">
        <ngx-codemirror 
          [options]="codeMirrorOptions"
          [(ngModel)]="content"
          #cm
        >
        </ngx-codemirror>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="grid">
        <!-- <button
          (click)="onCompile()"
          type="button"
          class="btn btn-outline-primary me-1"
        >
          Compilar
        </button>        
        <button type="button" class="btn btn-outline-primary me-1">
          Descargar
        </button> -->
        <span class="lead">ln: {{ line }} col: {{ column }}</span>
      </div>
    </div>
  </div>
</div>
